{% extends 'base.html.twig' %}

{% block title %}Hello NewsWallController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        <a href="{{ path('logout') }}">
            <button>Logout</button>
        </a>
        <a href="{{ path('news_operation') }}">
            <button>Add</button>
        </a>

        {% for post in news %}
            <table>
                <tr><th>{{ post.title }}</th></tr>
                <tr><td>{{ post.text }}</td></tr>
                {% if is_granted('ROLE_ADMIN', object = null, field = null)%}
                <tr>
                    <td>
                        <button>edit</button>
                    </td>
                    <td>
                        <a href="{{ url('delete_news', {'id':post.id}) }}">
                            <button>delete</button>
                        </a>
                    </td>
                </tr>
                {% endif %}
            </table>
            <hr>
        {% endfor %}

    </div>

{% endblock %}
