{% extends 'base.html.twig' %}

{% block title %}Hello NewsOperationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div id="add-news-form" class="example-wrapper">
        <form method="POST">
            <div class="form-group">
                <label for="title-example">Title</label>
                <input type="text" name="_title" class="form-control" id="title-example" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="text-example">Text</label>
                <input type="text" name="_text" class="form-control" id="text-example" placeholder="Text">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="{{ url('news_wall') }}">
            <button>Go to News Wall</button>
        </a>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ asset('js/ajax_add_news.js') }}"></script>
{% endblock %}
