{% extends 'base.html.twig' %}

{% block title %}Hello AuthenticationController!{% endblock %}

{% block body %}
<style>
    .login-form { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .login-form code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>{{ controller_name }}! ✅</h1>
{{ form_start(form) }}
{{ form_end(form) }}
{% endblock %}
